body {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
}
header {
	display: block;
	margin: auto;
	text-align: center;
	background: #6f4e37;
	padding: 10px 0;
	color: whitesmoke;
}
h1 {
	font-size: 300%;
	text-decoration: underline;
}
#purchase-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	border: 10px double darkgray;
}
#purchase-header {
	margin: 10px;
	text-align: center;
}
#div-table {
	margin: 10px;
	text-align: center;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 5px;
}
th, td {
  background-color: #997F56;
  white-space:pre
}
pre {
	font-family: Helvetica, sans-serif;
}


/*LOADER*/

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}